@model IEnumerable<MrVeggie.Models.Ingrediente>

@{
    ViewData["Title"] = "Ingredientes";
}

<h1>Ingredientes</h1>

<div class="container-fluid">
    <div class="row">
        @foreach (var ingrediente in Model) {
            <div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 3px" >

                <div class="row">
                    <div class="col-md-2">
                        <h2>
                            <a asp-controller="Home" asp-action="Index" id="link_preto">@ingrediente.nome</a>
                        </h2>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="container">
                        <img class="d-block w-100" src="~/images/teste.jpg">

                    </div>
                </div>
            </div>
            /*
            <div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 2px">
                <h2>
                    @ingrediente.nome
                </h2>
                <p>
                    @ingrediente.calorias
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
            </div>
            */
        }

    </div>
</div>

