
*.lck
*.bak*
*.vpp-journal
MrVeggie/.vs
MrVeggie/MrVeggie/obj
MrVeggie/MrVeggie/bin
MrVeggie/MrVeggie/docfx.json
MrVeggie/MrVeggie/index.md
MrVeggie/MrVeggie/log.txt
MrVeggie/MrVeggie/toc.yml
MrVeggie/MrVeggie/api/index.md
MrVeggie/MrVeggie/articles/intro.md
MrVeggie/MrVeggie/articles/toc.yml
MrVeggie/MrVeggie/MrVeggie.xml
MrVeggie/MrVeggie/_site
MrVeggie/MrVeggie/api