@model IEnumerable<MrVeggie.Models.Receita>

@{
    ViewData["Title"] = "HistóricoUtilizador";
}

<script>
    document.getElementById("pessoal").classList.add('active');
</script>

<section class="banner-area relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="banner-content col-lg-5">
                <h1>Histórico</h1>
                <hr>
                <div class="breadcrmb">
                    <p>
                        <a asp-controller="Home" asp-action="Index">Início</a>
                        <span class="lnr lnr-arrow-right"></span>
                        Área Pessoal
                        <span class="lnr lnr-arrow-right"></span>
                        <a asp-controller="HistoricoView" asp-action="showHistorico">Histórico</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row">
        @foreach (var receita in Model) {
            <div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 3px">

                <div class="row">
                    <div class="col-md-2">
                        <h2>
                            <a asp-controller="ReceitaView" asp-action="showReceita" asp-route-id="@receita.id_receita" id="link_preto">@receita.nome</a>
                        </h2>
                    </div>

                </div>
                <div class="row">
                    <div class="container">
                        <img class="d-block w-100" src="@receita.url_imagem" width="100" height="200">

                    </div>
                </div>
            </div>
          
        }

    </div>
</div>

