@model MrVeggie.Models.Receita
@{
    ViewData["Title"] = "AvaliarReceita";
}

<h1 align="center">Avaliação</h1>

<p align="center">Acabou de realizar a receita "@Model.nome". Gostaria de a avaliar?</p>

<div class="rate" align="center" style="padding-bottom:50px;">
    <form asp-action="AvaliarReceitaUtilizador">
        <input type="radio" id="star1" name="rate" value="1" />
        <img id="no_border_img" src="~/images/star1.png" style="width:20%;" />
        <br />

        <input type="radio" id="star2" name="rate" value="2" />
        <img id="no_border_img" src="~/images/star2.png" style="width:20%;" />
        <br />

        <input type="radio" id="star3" name="rate" value="3" />
        <img id="no_border_img" src="~/images/star3.png" style="width:20%;" />
        <br />

        <input type="radio" id="star4" name="rate" value="4" />
        <img id="no_border_img" src="~/images/star4.png" style="width:20%;" />
        <br />

        <input type="radio" id="star5" name="rate" value="5" />
        <img id="no_border_img" src="~/images/star5.png" style="width:20%;" />


        <div class="form-group" style="padding-top: 20px;padding-bottom: 0px">
            <input type="submit" value="Avaliar" class="btn btn-default btn-primary" />
        </div>

    </form>
</div>
