@model Dictionary<MrVeggie.Models.Ingrediente, MrVeggie.Models.Auxiliary.Quantidade>


@{
    ViewData["Title"] = "ShowIngredientesAgenda";
}

<section class="banner-area relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="banner-content col-lg-5">
                <h1 style="font-size:275%">Lista Semanal</h1>
                <hr>
                <div class="breadcrmb">
                    <p>
                        <a asp-controller="Home" asp-action="Index">Início</a>
                        <span class="lnr lnr-arrow-right"></span>
                        Área Pessoal
                        <span class="lnr lnr-arrow-right"></span>
                        <a asp-controller="AgendaView" asp-action="showAgenda">Agenda</a>
                        <span class="lnr lnr-arrow-right"></span>
                        <a asp-controller="AgendaView" asp-action="showIngredientesAgenda">Lista Semanal</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<script>

    function send() {

        var div = document.getElementById('lista');

        var data = div.innerHTML;

        $.ajax({
            url: '@Url.Action("sendEmail", "AgendaView")',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function () {             
                   alert("Email enviado com sucesso");
            }
        });

    }

    document.getElementById("pessoal").classList.add('active');

</script>

<div id="lista">
    <ul style="text-align:center">
        @foreach (var ing in Model) {
            <li>
                @ing.Key.nome - @ing.Value.quantidade @ing.Value.unidade
            </li>
        }
    </ul>
</div>

<div align="center">
    <a class="btn btn-success" onclick="send()" style="color:white;margin-top:20px;">Enviar para o e-mail</a>
</div>
