
@{
    ViewData["Title"] = "AboutUs";
}

<div class="wrapper">
    <div style="width: 35%; float: left;">
        <img id="no_border_img" src="~/images/Logo.png" style="width: 100%">

    </div>
    <div style="margin-left: 6%">
        <h1>O que sou?</h1>
        <p>Desc</p>
    </div>

</div>
<p></p>
<p></p>

<h1>O que faço?</h1>

