@model IEnumerable<MrVeggie.Models.Ingrediente>
@{
    ViewData["Title"] = "IngredientesPrefView";
}

<section class="banner-area relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="banner-content col-lg-5">
                <h1 style="font-size:110%">Ingredientes Preferidos</h1>
                <hr>
                <div class="breadcrmb">
                    <p>
                        <a asp-controller="Home" asp-action="Index">Início</a>
                        <span class="lnr lnr-arrow-right"></span>
                        Área Pessoal
                        <span class="lnr lnr-arrow-right"></span>
                        <a asp-controller="UserView" asp-action="IngredientesPref">Ingredientes Preferidos</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row">
        @foreach (var ingrediente in Model) {
            <!--<div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 3px">

                <div class="row">
                    <div class="col-md-2">
                        <h2>
                            @ingrediente.nome
                        </h2>
                    </div>

                </div>
                <div class="row">
                    <div class="container">
                        <img class="d-block w-100" src="@ingrediente.url_imagem">

                    </div>
                </div>
            </div>-->
            <div class="card shadow p-3 mb-5 bg-white rounded" style="margin: 3px; width:18rem" >
                <img id="no_border_img" class="card-img-top" src="@ingrediente.url_imagem" alt="Error loading image" style="height:150px">
                <div class="card-body">
                    <h3 class="card-title" style="height:65px">@ingrediente.nome</h3>
                </div>
            </div>
        }

    </div>
</div>

