@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MrVeggie</title>
</head>
<body>
    <section class="banner-area relative">
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="banner-content col-lg-5">
                    <h1>MrVeggie</h1>
                    <hr>
                    <div class="breadcrmb">
                        <p>
                            O seu assistente de cozinha vegetariano
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>