


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MrVeggie</title>
</head>
<body>

    <a asp-controller="AdminView" asp-action="Estatisticas">Estatísticas</a>
    <a asp-controller="AdminView" asp-action="NewIngrediente">Registar Ingrediente</a>
    <a asp-controller="AdminView" asp-action="NewReceita">Registar Receita</a>
    <a asp-controller="AdminView" asp-action="NewOperacao">Registar Operação</a>

</body>
</html>