@model MrVeggie.Models.Operacao

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    ViewData["Title"] = "NewOperacao";
}

<h1>Adicionar Operacao</h1>


<form asp-action="registaOperacao">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="desc" class="control-label"></label>
        <input asp-for="desc" class="form-control" />
        <span asp-validation-for="desc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Registar" class="btn btn-default btn-success" />
    </div>
</form>
