@model Tuple<MrVeggie.Models.Receita, List<MrVeggie.Models.Utensilio>>

@{
    ViewData["Title"] = "NewReceita";
}

<<<<<<< HEAD
=======
    <h1>NewReceita</h1>

>>>>>>> 1daf8d1952fc6e69bf938d65cb274a9ad1e2f263


    <form asp-action="registaReceita">
        <div class="form-group">
            <label asp-for="Item1.nome" class="control-label"></label>
            <input asp-for="Item1.nome" class="form-control" />
            <span asp-validation-for="Item1.nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item1.desc" class="control-label"></label>
            <input asp-for="Item1.desc" class="form-control" />
            <span asp-validation-for="Item1.desc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <!--DROPDOWN-->
            <label asp-for="Item1.dificuldade" class="control-label"></label>
            <input asp-for="Item1.dificuldade" class="form-control" />
            <span asp-validation-for="Item1.dificuldade" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item1.tempo_conf" class="control-label"></label>
            <input asp-for="Item1.tempo_conf" class="form-control" />
            <span asp-validation-for="Item1.tempo_conf" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item1.calorias" class="control-label"></label>
            <input asp-for="Item1.calorias" class="form-control" />
            <span asp-validation-for="Item1.calorias" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item1.n_pessoas" class="control-label"></label>
            <input asp-for="Item1.n_pessoas" class="form-control" />
            <span asp-validation-for="Item1.n_pessoas" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item1.url_imagem" class="control-label"></label>
            <input asp-for="Item1.url_imagem" class="form-control" />
            <span asp-validation-for="Item1.url_imagem" class="text-danger"></span>
        </div>

        <!--FALTA UTENSILIOS-->
        <select class="mdb-select md-form" multiple>
            <option value="" disabled selected>Escolha os utensílios</option>
            @foreach (var utensilio in Model.Item2) {
                <option value="@utensilio.id_utensilio">@utensilio.nome</option>
            }
        </select>

        <div class="form-group">
            <input type="submit" value="Registar" class="btn btn-default btn-success" />
        </div>
    </form>