<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>


        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container" align="left">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <img id="no_border_img" src="~/images/Logo.png" style="height:23px" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ReceitaView" asp-action="showReceitas">Receitas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="IngredienteView" asp-action="showIngredientes">Ingredientes</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" style="padding-right:35px">
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated) {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Olá @User.Identity.Name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="AgendaView" asp-action="ShowAgenda">Agenda</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="UserView" asp-action="ReceitasPref">Receitas preferidas</a>
                                <a class="dropdown-item" asp-controller="UserView" asp-action="IngredientesPref">Ingredientes preferidos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="UserView" asp-action="Logout">Logout</a>
                            </div>
                        </li>
                    }
                    else {
                        <li class="nav-item">
                            <a class="nav-link mr-sm-2" asp-controller="UserView" asp-action="RegistaUtilizador">Registar</a>
                        </li>
                        <li>
                            <a class="nav-link my-2 my-sm-0" asp-controller="UserView" asp-action="LoginUtilizador">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

    </header>
    <div class="container">

        <main role="main" class="pb-4">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted" style="background:lightgrey" >

        <div class="container">
            &copy; 2019 - MrVeggie
            <a style="float:right" asp-controller="Home" asp-action="AboutUs">Sobre Nós</a>

        </div>

    </footer>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>